include mixins/_header.pug
include mixins/_projectcard.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina | Graphic Designer
        include mixins/_stylesheets.pug
        
    body
        +header('/index.html', "/index.html", "/about.html")
        main.main(id="swup" class="transition-fade") 
            section.about-hero-bg
                .about-hero-bg-img
                .about-hero-bg-box1
                .about-hero-bg-box2
            section.sub-about
                h2.hiimsam Hi, I'm Sam.
                .about-paras
                    p I am a <b>Graphic Design B.F.A candidate</b> at the Maryland Institute College of Art and I also hold an <b>Associate of Applied Science in Graphic Design</b> from Montgomery College, Rockville. My full name is Samanta Moya Medina!
                    p My focus in Graphic Design lies in typographic systems and front-end web development. I maintain an interest in using my skills to disseminate information for the greater good.
                    p My <b>thesis project</b> is  on track to address the social stigma against people with intellectual disabilities, with an emphasis on the exposed underfunding of programs during COVID. 
                    p My passion for design stems from my experiences as the older sister of two siblings who live with disabilities, the translator for my parents growing up, and as a witness to people in need over the course of my life. There is no design consideration too small if it means improving the experience for those who need it most.
                    .feelfree
            //- section.bottomhero
            //-     .text-contain-bottom 
            //-         a(href="/5.html").bottomhero-text Check out project →
            //-         a(href="/3.html").bottomhero-text ← Previous project
            //-         a(href="/about.html").bottomhero-text Learn more about me

        include mixins/_footer.pug
        include mixins/_scripts.pug
