<!DOCTYPE html>
include mixins/pug/_header.pug
include mixins/pug/_slide.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
    body.container
        .sidebar
             +header('/index.html', '/about.html')
        main.main(class="transition-fade" id="swup")
            //- div.overlay(class="transition-wipe")
            +slide('slide slide1', '/1.html', 'proj-name1', '', 'proj-desc1','publication', '08.2019')
            +slide('slide slide2', '/2.html', 'proj-name2', '', 'proj-desc2','publication', '08.2019')
            +slide('slide slide3', '/3.html', 'proj-name3', '', 'proj-desc3','publication', '08.2019')
            +slide('slide slide4', '/4.html', 'proj-name4', '', 'proj-desc4','publication', '08.2019')
            +slide('slide slide5', '/5.html', 'proj-name5', '', 'proj-desc5','publication', '08.2019')
            +slide('slide slide6', '/6.html', 'proj-name6', '', 'proj-desc6','publication', '08.2019')
        #cursor 
        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        
        script(src="../script.js")