include mixins/_slide.pug
include mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")

        link(rel="stylesheet", href="fluidbox.min.css")
    body
        div#main
            +header('/index.html', "#works", "/about.html")
            .content(class="transition-fade" id="swup")
                section.hero
                    .text-contain
                        span.intro
                            p(class="hidetext") You can call me Sam!
                        span.job
                            p(class="hidetext") I'm a graphic designer     
                        span.job2 
                            p(class="hidetext") who's here to help.
                main.work(id="works")
                    +slide('/1.html', 'project1', 'projdesc1', 'Publication', 'proj-type1', 'The Dry Run', 'proj-name1', '08.2019', 'proj-date1', 'images/1/thedryrun5.png', 'Just a Placeholder.')
                    +slide('/2.html', 'project2', 'projdesc2', 'Branding', 'proj-type2','Olympics 2040', 'proj-name2', '08.2019', 'proj-date2', '/images/2/logo-01.png', 'Just a Placeholder.')
                    +slide('/3.html', 'project3', 'projdesc3', 'Publication', 'proj-type3','Amass Magazine', 'proj-name3', '08.2019', 'proj-date3', '/images/3/amass01.png', 'Just a Placeholder.')
                    +slide('/4.html', 'project4', 'projdesc4', 'personal', 'proj-type4','Your Mail', 'proj-name4', '08.2019', 'proj-date4', '/images/4/envelope-1-copy.png', 'Just a Placeholder.')
                    +slide('/5.html', 'project5', 'projdesc5', 'Publication', 'proj-type5','Voter\'s Guide', 'proj-name5', '08.2019', 'proj-date5', '/images/5/votersguide01.png', 'Just a Placeholder.')
                    //- +slide('/6.html', 'project6', 'projdesc6', 'Misc', 'proj-type6','Other Materials', 'proj-name6', '08.2019', 'proj-date6', '/images/6/misc.png', 'Just a Placeholder.')
                .shapes
                    img(class="circle" src="/images/other/circle.svg", alt="", srcset="")
                    img(class="triangle" src="/images/other/triangle.svg", alt="", srcset="")
                    img(class="square" src="/images/other/square.svg", alt="", srcset="")
            footer.footer
                span.email smoyamedina@mica.edu
            
        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        script(src="/momentumscroll.js")