<!DOCTYPE html>
include mixins/pug/_header.pug
include mixins/pug/_slide.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap")
    body.container
        .sidebar
             +header('/index.html', '/about.html')
        main.main
            +slide('slide slide1', '/work/1.html', 'proj-name1', '1', 'proj-desc1','publication', '08.2019')
            +slide('slide slide2', '/work/2.html', 'proj-name2', '2', 'proj-desc2','publication', '08.2019')
            +slide('slide slide3', '/work/3.html', 'proj-name3', '3', 'proj-desc3','publication', '08.2019')
            +slide('slide slide4', '/work/4.html', 'proj-name4', '4', 'proj-desc4','publication', '08.2019')
            +slide('slide slide5', '/work/5.html', 'proj-name5', '5', 'proj-desc5','publication', '08.2019')
            +slide('slide slide6', '/work/6.html', 'proj-name6', '6', 'proj-desc6','publication', '08.2019')