//Main Color palette
$main-front: #000000;
$main-back: #ffffff;


@font-face {
    font-family: 'Inconsolata Regular';
    src: url(/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

$font: 'Inconsolata Regular',
sans-serif;

// testing/debugging
$test1: magenta;
$test2: lime;
$test3: cyan;

// overarching attributes
* {
    // resets
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: $font;
    font-weight: 300;
    color: $main-front;
    transition: all .2s ease;
    text-decoration: none;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

.container {
    margin: 1rem 1.5rem;
    display: grid;
}

img {
    width: 100%;
}

//specific

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 3.5rem);
}

.name {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin: 2rem auto;
}

.nav-item {
    display: flex;
    justify-content: space-between;

    a {
        width: 20vw;

        // background-color: #fff;
        text-align: center;
        padding: 1rem;
        border-bottom: 5px solid $main-front;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.0);
        border-right: 1px solid rgba($color: #ffffff, $alpha: 0.0);
        border-left: 1px solid rgba($color: #ffffff, $alpha: 0.0);

    }


}

.nav-item a:hover {
    border-top: 1px solid $main-front;

}

.title {
    width: 100%;
    a {
        font-size: calc(8vw);
        font-weight: 700;
        margin-left: -4.2rem;
        z-index: 60;
        width: 100%;
        display: block;
        position: fixed;
    }

}

.title-proj1 {
    position: absolute;
    top: 10rem;

}

.title-proj2 {
    position: absolute;
    // top: 13rem;
    top: calc(12rem + 4vw);
}

.title-proj3 {
    position: absolute;
    // top: 16rem;
    top: calc(14rem + 8vw);

}

.title-proj4 {
    position: absolute;
    // top: 19rem;
    top: calc(16rem + 12vw);
}

.title-proj5 {
    position: absolute;
    // top: 22rem;
    top: calc(18rem + 16vw);
}

.title-proj6 {
    position: absolute;
    // top: 25rem;
    top: calc(20rem + 20vw);
    
}

$img-footer-offset: 11rem;

.slides img {
    position: relative;
    top: $img-footer-offset;
    z-index: -1;


}

.slide {
    margin-right: auto;
    margin-left: 5rem;
}


.desc-proj {
    display: none;
}

.email, .sitecredit {
    display: block;
}

.footer {
    position: relative;
    top: 8rem;
    display: flex;
    justify-content: space-between;

}

//precise
.sam {
    font-weight: 900;

    span {
        display: block;
    }
}

// Desktop
@media (min-width: 1100px) {
    body {
        background-color: $main-back;
    }

    .container {
        margin: 2rem 2rem 0 2rem;
        display: flex;
        flex-wrap: wrap;

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
            /* make scrollbar transparent */
        }
    }



    .header {
        width: auto;
        // position: fixed;
        position: sticky;
        margin-right: 5%;
        flex-basis: 15%;
        flex-grow: 0;
        top: 2rem;
        align-self: flex-start;
    }



    .content {
        width: 70%;
        min-width: 0;
        flex-grow: 1;
        flex-shrink: 3;
        margin-left: 0rem;
        overflow: scroll;


        // padding-left: 15rem;
    }

    .name,
    .moyame,
    .job,
    .jobcont {
        display: block;
    }

    .moyame {
        margin-bottom: .5rem;
        font-weight: 900;
    }


    .navbar {
        // margin-top: 18rem;
        position: fixed;

    bottom: 5rem;
        height: auto;
    }

    .nav-items {
        display: block;
        width: 100%;
        margin: rem 0;
        
    }

    .nav-item {
        display: block;
        margin: 1rem 0;

        a {
            width: 100%;
            text-align: left;
            padding: 0rem .5rem;

            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.0);
            border-top: 1px solid rgba($color: #ffffff, $alpha: 0.0);
            border-right: 1px solid rgba($color: #ffffff, $alpha: 0.0);
            border-left: 5px solid $main-front;
        }
    }

    


    .nav-item a:hover {
        border-right: 1px solid $main-front;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.0);
    }

    .title {

        left: 11rem;

        a {
            font-size: 5rem;
            font-weight: 700;
            margin-left: 0;
            z-index: 60;
            display: block;
            position: static;
        }

    }

    .title-proj1 {
        position: fixed;
        top: 12.4rem;
        background-color:rgba(0,0,0, 1);
        // mix-blend-mode: luminosity;
        clip-path: inset(40% 0% 40% 0%);
    }

    .title-proj2 {
        position: fixed;
        top: 17.4rem;
        background-color:rgba(0,0,0, 1);
        clip-path: inset(40% 0% 40% 0%);
    }

    .title-proj3 {
        position: fixed;
        top: 22.4rem;
        background-color:rgba(0,0,0, 1);
        clip-path: inset(40% 0% 40% 0%);
    }

    .title-proj4 {
        position: fixed;
        top: 27.4rem;
        background-color:rgba(0,0,0, 1);
        clip-path: inset(40% 0% 40% 0%);
    }

    .title-proj5 {
        position: fixed;
        top: 32.4rem;
        background-color:rgba(0,0,0, 1);
        clip-path: inset(40% 0% 40% 0%);
    }

    .title-proj6 {
        position: fixed;
        top: 37.4rem;
        background-color:rgba(0,0,0, 1);
        clip-path: inset(40% 0% 40% 0%);
    }

    $img-footer-offset-desktop: 0;

    .slides img {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        min-width: 0;

    }

    .slide {
        margin-left: 0;
        position: relative;
        display: flex;
    }

    .slide-proj1


    .desc-proj {
        display: flex;
        background-color: #fff;
        padding: 1rem;
        position: absolute;
        top: 1rem;
        width: 25%;
        right: 1rem;
        z-index: -1;
        justify-content: space-between;
    }

    .footer {
        flex-basis: 100%;
        top: 1rem;
        margin-bottom: 2rem;
    }

}
