$main-font: 'Degular', sans-serif;
$main-font-text: 'Degular-Text', sans-serif;
$main-font-display: 'Degular-Display', sans-serif;



$main-dark: #000;
$main-bright: #FFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: $main-font;
    transition: all .2s ease;
    text-decoration: none;
    // scroll-behavior: smooth;
    list-style-type: none;

}

// .fluidbox__ghost {
    
// }

/// svg

#main {
    overflow-x: hidden;
}

.shapes {
    z-index: -999; 
}

.circle {
    
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    z-index: -999; 
}

.square {
    position: absolute;
    top: 60%;
    right: 4%;
    height: 25%;
    z-index: -999; 
    // transform: rotate(360deg) translateZ(0);
}

.triangle {
    position: absolute;
    top: 15%;
    right: 29%;
    height: 35%;
    z-index: -999; 
    transform: rotate(90deg);
    transition: none;
}

// SWUP

.transition-fade {
    transition: .5s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    
}

////header
.header, .nav-contain {
    display: flex;
    justify-content: space-between;
    z-index: 9000;
}

.header {
    margin: 2rem 2rem 0 2rem;
    position: fixed;
    top: 0;
    width: calc(100% - 4rem);
}

.nav-item {
    width: 10vw;
    text-align: center;
    margin-left: 1rem;
    background-color:rgba(220, 220, 220, 0.25);
    backdrop-filter: blur(20px);
}



.nav-item:hover, .name:hover {
    
    text-decoration: underline;
}

.name, .nav-item {
    // border: 1px solid $main-dark;
    padding: .5rem;
    display: block;
}

.name {
    background-color:rgba(220, 220, 220, 0.25);
    backdrop-filter: blur(20px);
    padding: .5rem 1rem;
}

a {
    color: $main-dark;
}

////hero

.hero {
    margin: 0 2rem;
    height: 90vh;
    display: flex;
    align-items: flex-end;
}

.text-contain {
    padding-bottom: 15vh;
    
}

.job, .job2 {
    display:block;
    position: relative;
    // overflow: hidden;
    height: 6.5vw;
    width: calc(100vw - 9rem);
    // outline: 1px solid red;

}

.intro .hidetext {
    font-size: 2.25vw;
    font-weight: 400;
}

.intro {
    height: 2vw;
    display: block;
    width: calc(100vw - 9rem);
}

.job2 {
    top: -1.5vw;
}

.hidetext {
    font-family: $main-font-display;
    font-weight: 700;
    font-size: 5vw;
    position: absolute;
    transition: none;
}

////content


//// main

.work {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 4rem;
    padding-top: 2rem;
    gap: 2rem;
}

.project {
    grid-column: 3 / 11;
    position:relative;
    height: 70vh;
}

.proj-desc {
    position: absolute;
    z-index: 60;
    bottom: 10vh;
}

.proj-img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 50;
}

.project:nth-child(odd) .proj-img {
    left: 0;
}
.project:nth-child(even) .proj-img {
    right: 0;
}

.project:nth-child(odd) .proj-desc {
    right: 0;
    text-align: right;
}
.project:nth-child(even) .proj-desc {
    left: 0;
}



.proj-name {
    font-size: 5vw;
    font-weight: 600;
    margin-top: -.5vw;
}

.proj-type {
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid $main-dark;
    // width: 100%;
    display: inline-block;
}

// footer

.footer {
    background-color:rgba(220, 220, 220, 0.25);
    // color: $main-bright;
    // border-top: 1px solid $main-dark;
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.email, .credit {
    display: block;
}





// SUBPAGES /////////////////////////////////////////////////////////////////////////////


//main content


.sub-hero {
    background-image: url(https://via.placeholder.com/500);
    background-size: cover;
    background-position: center;
    height: 92vh;
    position: relative;
}

.sub-hero1 {
    background-image: url(images/1/thedryrun1.png);
}

.sub-hero2 {
    background-image: url(images/2/logo-01.png);
}

.sub-hero3 {
    background-image: url(images/3/amass01.png);
}

.sub-hero4 {
    background-image: url(images/4/envelope-1-copy.png);
}

.sub-hero5 {
    background-image: url(/images/5/votersguide01.png);
}

.sub-hero6 {
    background-image: url(/images/6/misc.png);
}

.sub-proj-desc {
    position: fixed;
    bottom: 0;
    margin: 2rem 2rem 6rem 0rem;
    padding: 1rem 1rem 1rem 2rem;
    backdrop-filter: blur(20px);
    // background: inherit;
    overflow: hidden;
    // z-index: 8000;

}

.sub-proj-desc1 {
    width: 28%;
}
.sub-proj-desc2 {
    width: 30%;
}
.sub-proj-desc3 {
    width: 27%;
}

.sub-proj-desc4 {
    width: 27%;
}

.sub-proj-desc5 {
    width: 30%;
}

.sub-proj-desc6 {
    width: 25%;
}

// .sub-proj-desc:before{
//     content: '';
//     background: inherit;
//     box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
//     filter: blur(100px);
//     z-index: 999;
// }

.sub-proj-name {
    font-size: 4vw;
    font-weight: 600;
    line-height: 4vw;
    margin-top: -.5rem;
    margin-bottom: 1vw;
}

.sub-proj-type {
    font-weight: 300;
    margin-bottom: 1vw;
    border-bottom: 1px solid $main-dark;
    display: inline-block;
}

.sub-proj-para {
    margin-bottom: 1rem;
    width: 100%;
}

.sub-proj-date {
    font-weight: 700;
}

.sub-images, .about-main {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}
.sub-images img, .sub-images .image3, .sub-images .image5 {
    width: 100%;
    // height: 70vh;
    object-fit: cover;
    object-position: center;
}

.sub-images .image3b, .sub-images .image5b {
    background-color: $main-dark;
}

.image1 {
    grid-column: 6 / 13;
    grid-row: 1 / 2;
}

.image2 {
    grid-column: 5 / 12;
    grid-row: 2 / 3;
}

.image3 {
    grid-column: 6 / 13;
    grid-row: 3 / 4;
}

.image4 {
    grid-column: 5 / 12;
    grid-row: 4 / 5;
}

.image5 {
    grid-column: 6 / 13;
    grid-row: 5 / 6;
}

.image6 {
    grid-column: 5 / 12;
    grid-row: 6 / 7;
}

.about-desc {
    grid-column: 3 / 7;
}

.hiimsam {
    font-size: 6vw;
    font-weight: 600;
}

.about-desc p, .about-desc b {
    margin-top: 1rem;
    font-size: 1.25rem;
}

@media (max-width: 1200px) {

    .nav-item {
        width: 16vw;
    }

    .project {
        grid-column: 1 / 13;
    }

    .about-desc {
        grid-column: 1 / 13;
        margin: 0 2rem;
        
    }

    .about-desc p, .about-desc b {
        backdrop-filter: blur(100px);
    }

    .hiimsam {
        font-size: 15vw;
    }

    // .about-desc p, .about-desc b {
    //     // font-size: 1.5rem;
    // }
}

@media (max-width: 800px) {


    .circle {
        top: 0;
        right: 0;
        height: 40vh;

    }
    
    .square {
        top: 25vh;
        right: 10%;
        height: 10%;
    }
    
    .triangle {
        top: 13%;
        right: 55%;
        height: 15%;
        transition: none;
    }

    // nav
    .header {
        margin: 1rem 1rem 0 1rem;
        width: calc(100% - 2rem);
    }

    h1 { //makes name center on mobile
        width: 100%;
        text-align: center;
    }

    .name { 
        width: 100%;
        // font-size: 1.5rem;
    }

    .nav {
        position: fixed;
        // bottom: 1rem;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 1rem;
        background-color:rgba(220, 220, 220, 0.25);
        backdrop-filter: blur(20px);
        // left: 1rem;
        // width: calc(100% - 2rem);
    }


    .nav-item {
        margin-left: 0rem;
        padding: 1rem;
        width: 25vw;
        font-size: 5vw;
        background-color:rgba(220, 220, 220, 0);
        backdrop-filter: none;
    }

    li {
        display: flex;
    }

    //hero
    .hero {
        margin:0 1rem;
        // align-items: ;
        height: 60vh;       
    }

    .text-contain {
        padding-bottom: 5vh;
    }

    .intro, .job, .job2 {

        overflow: hidden;
        height: 11vw;
        width: calc(100vw - 2rem);
        // outline: 1px solid red;
    
    }

    .hidetext {
        font-size: 9vw;
    }

    .intro .hidetext {
        font-size: 5vw;
    }

    .intro {
        position: relative;
        top: 5.5vw;
    }


    //work items on homepage
    .work {
        display: block;
       margin: 0 1rem;
    }

    .project {
        margin-bottom: 2rem;
        
    }

    .proj-desc {
        bottom: 1rem
    }
    
    .proj-img {
        width: 100%;
    }

    .project:nth-child(odd) .proj-desc {
        right: 1rem;
        text-align: right;
    }
    .project:nth-child(even) .proj-desc {
        left: 1rem;
    }

    .proj-name {
        font-size: 8vw;
    }

}

////////// SUB PAGES MEDIA

@media (max-width: 800px ) {

    .about-desc {
        // grid-column: 1 / 13;
        margin: 0 1rem;
    }


    .sub-hero {
        margin-bottom: 55vh;
        position: relative;
    }

    .sub-proj-desc {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: -50vh;
        padding-left: 1rem;
    }

    .sub-proj-name {
        font-size: 11vw;
        margin-top: 0;
    }


    .sub-images {
        display: block;
        
    }

    .sub-images a{
        display: block;
        margin-bottom: 2rem;
    }

    .footer {
        margin-bottom: 4rem
    }

}