
// constants
$main-bright: #fff;
$main-dark: #000;
$accent1: rgb(238, 61, 55);
$accent2: rgb(255, 207, 104);
$accent3: rgb(15, 26, 75);
$main-font: 'Barlow', 'Arial', sans-serif;

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: $main-font;
    transition: all .2s ease;
    text-decoration: none;
    scroll-behavior: smooth;
    ::selection {
        background-color: $accent2;
    }
}

// SWUP

.transition-fade {
    transition: .5s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    // transform: translateX(-50px);
}



//basic styling
.slide {
    background-image: url(https://via.placeholder.com/500);
    background-position: center center;
    background-size: cover;
    height: 75vh;
    width: auto;
    position: relative;
    
}

a {
    color: $main-dark;
}

li {
    list-style-type: none;
}

.lastname {
    display: block;
}

.nav-item {
    margin-top: .5rem;
}

.proj-name1, .proj-name2, .proj-name3, .proj-name4, .proj-name5, .proj-name6 {
    font-size: 8vh;
    font-weight: 300;
}

.proj-name a:hover, .nav-item a:hover, .proj-desc:hover {
    // text-decoration: underline;
    // color: $accent1;
    font-weight: 700;
}

.proj-desc {
    text-transform: uppercase;
}
 

// positioning

.container {
    // margin: 2rem;
    display: grid;
    // height: 100%;
    // overflow-y: scroll;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    // overflow: hidden;
}

.sidebar {
    height: 100vh;
    padding: 2rem ;
    position: fixed;
    max-width: 16.5%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: grid;
    grid: repeat(6, 1fr) / repeat(12, 1fr);
    z-index: 99;
    grid-column: 2 / 3;
    margin: 2rem 2rem 2rem 0rem;

}

    // slides
    .slide1 {
        grid-column: 4 / 12;
        // background-image: url(/images/thedryrun1.png);
    }
    .slide2 {
        grid-column: 2 / 10;
        grid-row: 2 / 3;
    }
    .slide3 {
        grid-column: 5 / 13;
        grid-row: 3 / 4;
    }
    
    .slide4 {
        grid-column: 3 / 11;
        grid-row: 4 / 5;
    }
    
    .slide5 {
        grid-column: 2 / 10;
        grid-row: 5 / 6;
    }
    
    .slide6 {
        grid-column: 4 / 12;
        grid-row: 6 / 7;
    }

    .proj-name1,
    .proj-name2,
    .proj-name3,
    .proj-name4,
    .proj-name5,
    .proj-name6 {
        position: fixed;
        // top: 35vh;
        left: 2rem;
    }

    .proj-name1 {
        top: 25vh;
    }
    .proj-name2 {
        top: 33vh;
    }
    .proj-name3 {
        top: 41vh;
    }

    .proj-name4 {
        top: 49vh;
    }
    .proj-name5 {
        top: 57vh;
    }
    .proj-name6 {
        top: 65vh;
    }

    .proj-desc {
        position: static;
        padding: 1rem;
        // right: 2rem;
        // top: 12rem;
        display: flex;
        // transform: rotate(90deg) translateY(-10.5rem);
        width: auto;    
        justify-content: space-between;
    }


///////////////////////////////
// about page
///////////////////////////////

.about-main {
    grid-column: 2 / 3;
    margin:2rem;
    max-width: 70%;
}
.callmesam {
    font-size: 10vh;
    margin-bottom: 10vh;
}

.about-desc p {
    // font-size: 1.35rem;
    margin-bottom: 1.25rem;
}

// main media queries



@media (max-width: 1100px) {
    .slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
        grid-column: 2 / 13;
    }
    
}

// MOBILE

@media (max-width: 970px) {
    .callmesam {
        font-size: 8vw;
    }
}

@media (max-width: 800px) {
    
    .container {
        display: block;
    }

    .main {
        margin: 0 2rem 40vh 2rem;
        
    }

    .sidebar {
        position: static;
        max-width: 100%;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
    }

    .header {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .nav {
        margin-top: 0;
        flex-grow: 1;
        flex-basis: 100%;
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
        left: 0;
        padding: 5vw 5vw;
        // height: 10vh;
        background-color: $main-bright;
        border-top: 1px solid $main-dark;
    }

    .footer {
        flex-grow: 1;
        flex-basis: 100%;
        position: fixed;
        bottom: 20vh;
        width: 100%;
        left: 0;
        z-index: -1;
        text-align: center;

    }

    .email a{
        display: inline-block;
        padding: 5vw;
    }
//resizing type for smaller screen
    .name {
        display: block;
    }

    .name, .lastname, .job {
        font-size: 6vw;
        margin: 0;
    }

    .lastname {
        display: inline-block;
        margin-left: 3vw;
    }



    .nav-contain {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        
        // background-color: #fff;
        // width: calc(100% - 4rem);
        // bottom: 10px;
        z-index: 99;
    }

    .nav-item {
        flex-grow: 1;
        text-align: center;
    }

    .nav-item a{
        margin-bottom: 0;
        width: 100%;
    }

    .slide {
        height: 70vh;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
        grid-column: 1 / 13;
    }

    .proj-name a{
        font-size: 10vw;
        padding-left: 1rem;
        position: static;
    }


    .proj-desc {
        bottom: 0;
        width: 100%;
        position: absolute;
        
    }
    .proj-desc span{
        font-size: 3.8vw;
    }

    /////////////////////////////////////////////////////////////////
// about page
/////////////////////////////////////////////////////////////////

.about-main {
    grid-column: 2 / 3;
    margin:2rem 2rem 40vh 2rem;
    max-width: 100%;
    background-color: $main-bright;
}

.callmesam {
    font-size: 12vw;
}


}



   ///////////////////////////////////////////////////////
   ///////////////////////////////////////////////////////
   //                   SUB PAGES                       //
   ///////////////////////////////////////////////////////
   ///////////////////////////////////////////////////////

   .sub-main {
    display: grid;
    grid: repeat(8, 1fr) / repeat(12, 1fr);
    z-index: 99;
    grid-column: 2 / 3;
    margin: 2rem 2rem 2rem 0rem;

}

.sub-slide {
    background-image: url(https://via.placeholder.com/500);
    background-position: center center;
    background-size: cover;
    height: 80vh;
    width: auto;
    position: relative;
    // backdrop-filter: blur(20px);
}

.sub-proj-name1, .sub-proj-name2, .sub-proj-name3, .sub-proj-name4, .sub-proj-name5, .sub-proj-name6 {
    position: fixed;
    top: 25vh;
    left: 1.8rem;
    font-size: 10vh;
    font-weight: 300;
    z-index: 97;
    // z-index: 75;
}

.sub-desc1a, .sub-desc2a, .sub-desc3a, .sub-desc4a, .sub-desc5a, .sub-desc6a {
    position: fixed;
    top: 40vh;
    left: 2rem;
    width: 40%;
    z-index: 97;
}

// project 1 ///////////////////////////////////////////////////////

.sub-slide1a {
    grid-column: 4 / 12;
    grid-row: 1 / 2;
}
.sub-slide1b {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
}
.sub-slide1c {
    grid-column: 5 / 13;
    grid-row: 3 / 4;
}

.sub-slide1d {
    grid-column: 3 / 11;
    grid-row: 4 / 5;
}

.sub-slide1e {
    grid-column: 2 / 10;
    grid-row: 5 / 6;
}

.sub-slide1f {
    grid-column: 4 / 12;
    grid-row: 6 / 7;
}

.sub-slide1g {
    grid-column: 2 / 10;
    grid-row: 7 /8;
}
.sub-slide1h {
    grid-column: 5 / 13;
    grid-row: 8 / 9;
}

// project 2 //////////////////////////////////////////////////////////

.sub-slide2a {
    grid-column: 2 / 10;
    
}
.sub-slide2b {
    grid-column: 5 / 13;
    grid-row: 2 / 3;
}

.sub-slide2c {
    grid-column: 3 / 11;
    grid-row: 3 / 4;
}

.sub-slide2d {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
}

.sub-slide2e {
    grid-column: 4 / 12;
    grid-row: 5 / 6;
}

.sub-slide2f {
    grid-column: 2 / 10;
    grid-row: 6 / 7;
}
.sub-slide2g {
    grid-column: 5 / 13;
    grid-row: 7 / 8;
}
.sub-slide2h {
    grid-column: 3 / 11;
    grid-row: 8 / 9;
}

// project 3 ///////////////////////////////////////////////

.sub-slide3a {
    grid-column: 5 / 13;
    // grid-row: 3 / 4;
}

.sub-slide3b {
    grid-column: 3 / 11;
    grid-row: 2 / 3;
}

.sub-slide3c {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
}

.sub-slide3d {
    grid-column: 4 / 12;
    grid-row: 4 / 5;
}
.sub-slide3e {
    grid-column: 2 / 10;
    grid-row: 5 / 6;
}
.sub-slide3f {
    grid-column: 5 / 13;
    grid-row: 6 / 7;
}

.sub-slide3g {
    grid-column: 3 / 11;
    grid-row: 7 / 8;
}

.sub-slide3h {
    grid-column: 2 / 10;
    grid-row: 8 / 9;
}

// project 4 ////////////////////////////////////////////////////

.sub-slide4a {
    grid-column: 3 / 11;
    // grid-row: 4 / 5;
}

.sub-slide4b {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
}

.sub-slide4c {
    grid-column: 4 / 12;
    grid-row: 3 / 4;
}

.sub-slide4d {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
}
.sub-slide4e {
    grid-column: 5 / 13;
    grid-row: 5 / 6;
}
.sub-slide4f {
    grid-column: 3 / 11;
    grid-row: 6 / 7;
}
.sub-slide4g {
    grid-column: 2 / 10;
    grid-row: 7 / 8;
}

.sub-slide4h {
    grid-column: 4 / 12;
    grid-row: 8 / 9;
}

// project 5 //////////////////////////////////////////////////////

.sub-slide5a {
    grid-column: 2 / 10;
    // grid-row: 5 / 6;
}

.sub-slide5b {
    grid-column: 4 / 12;
    grid-row: 2 / 3;
}

.sub-slide5c {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
}
.sub-slide5d {
    grid-column: 5 / 13;
    grid-row: 4 / 5;
}

.sub-slide5e {
    grid-column: 3 / 11;
    grid-row: 5 / 6;
}
.sub-slide5f {
    grid-column: 2 / 10;
    grid-row: 6 / 7;
}

.sub-slide5g {
    grid-column: 4 / 12;
    grid-row: 7 / 8;
}

.sub-slide5h {
    grid-column: 2 / 10;
    grid-row: 8 / 9;
}

// project 6 /////////////////////////////////////////////////////////////////////

.sub-slide6a {
    grid-column: 4 / 12;
    // grid-row: 2 / 3;
}

.sub-slide6b {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
}
.sub-slide6c {
    grid-column: 5 / 13;
    grid-row: 3 / 4;
}

.sub-slide6d {
    grid-column: 3 / 11;
    grid-row: 4 / 5;
}
.sub-slide6e {
    grid-column: 2 / 10;
    grid-row: 5 / 6;
}

.sub-slide6f {
    grid-column: 4 / 12;
    grid-row: 6 / 7;
}
.sub-slide6g {
    grid-column: 2 / 10;
    grid-row: 7 / 8;
}
.sub-slide6h {
    grid-column: 5 / 13;
    grid-row: 8 / 9;
}

//sub media queries
@media (max-width: 1100px) {
    .sub-slide{
        grid-column: 2 / 13;
    }
    .sub-desc1a, .sub-desc2a , .sub-desc3a, .sub-desc4a, .sub-desc5a, .sub-desc6a {
        opacity: 1;
        // left: -5vw;
    }
}

@media (max-width: 800px) {
    .sub-main {
        margin: 0 2rem 40vh 2rem;
    }

    .sub-slide{
        grid-column: 1 / 13;
    }

    // .sub-slide1a {
    //     backdrop-filter: blur(20px);
    // }

    .sub-proj-name1, .sub-proj-name2, .sub-proj-name3, .sub-proj-name4, .sub-proj-name5, .sub-proj-name6 {
        font-size: 10vw;
        left: 0;
        margin: 2rem;
        top: 0;
        position: absolute;
    }

    .sub-desc1a, .sub-desc2a , .sub-desc3a, .sub-desc4a, .sub-desc5a, .sub-desc6a {
        opacity: 1;
        position: absolute;
        top: 6rem;
        margin: 2rem;
        left: 0;
        width: calc(100% - 4rem);
    }
}