@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
  font-family: "Degular", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
  cursor: none;
  -webkit-transition: .3s;
  transition: .3s;
}

html, body {
  background-color: white;
}

a {
  color: black;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0, 0.75, 0.25, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0, 0.75, 0.25, 1);
  transition: transform 1.5s cubic-bezier(0, 0.75, 0.25, 1);
  transition: transform 1.5s cubic-bezier(0, 0.75, 0.25, 1), -webkit-transform 1.5s cubic-bezier(0, 0.75, 0.25, 1);
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
  z-index: 1000;
}

.custom-cursor--link {
  -webkit-transform: translate(-50%, -50%) scale(3);
          transform: translate(-50%, -50%) scale(3);
}

html.is-leaving .transition-fade {
  opacity: 0;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -9999px;
}

.img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.aspectRatioPlaceholder .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zoom-effect .img {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.zoom-effect .zoomImg,
.zoom-effect .zoomImg-wrap {
  position: relative;
  z-index: 900;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.zoom-effect .zoomImg-wrap--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.zoom-effect .zoomImg {
  cursor: pointer;
  cursor: -webkit-zoom-out;
}

.zoom-effect .zoomOverlay.show {
  opacity: 1;
}

.zoom-effect .zoomOverlay {
  z-index: 800;
  background: #fff;
  position: absolute;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0;
  cursor: pointer;
  cursor: -webkit-zoom-out;
}

.container {
  display: -ms-grid;
  display: grid;
  background: white;
  gap: 2rem;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: none;
  transition: none;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  margin: 2rem 0 2rem 2rem;
  height: calc(100vh - 4rem);
  -webkit-transition: none;
  transition: none;
}

.title {
  display: block;
}

.hero {
  height: 50vh;
  background-color: black;
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: none;
  transition: none;
}

.text-contain {
  font-size: 3vw;
  font-family: "Degular-Display", sans-serif;
  position: fixed;
  top: 6rem;
  left: 2rem;
  opacity: 1;
  visibility: visible;
}

.tagline {
  font-size: 3vw;
  line-height: 3vw;
  width: 30vw;
  font-weight: 700;
}

.nice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

.nice-to {
  margin-right: .5rem;
}

.hero-sectitle {
  padding: 1rem;
}

.proj-img {
  width: 100%;
  display: block;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

::-moz-selection {
  background-color: #ffd650;
}

::selection {
  background-color: #ffd650;
}

.header {
  padding-bottom: .3rem;
  border-bottom: 1px solid black;
}

.name, .job {
  display: inline-block;
  min-width: auto;
  white-space: nowrap;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  width: 100%;
  border-bottom: 1px solid black;
}

.nav-item a {
  display: block;
  border-top: solid 1px black;
  padding: .25rem 0 .3rem;
}

.nav-item a::after {
  content: '→';
  display: inline-block;
  position: absolute;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s cubic-bezier(0, 0.75, 0.25, 1);
  transition: opacity 0.25s cubic-bezier(0, 0.75, 0.25, 1);
}

.nav-item a:hover::after {
  opacity: 1;
}

main {
  margin: 0 2rem 2rem 0;
}

.main {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  visibility: visible;
}

.project {
  background-color: #e0e0e0;
  position: relative;
  margin-bottom: 2rem;
  -webkit-transition: none;
  transition: none;
}

.project:last-child {
  margin-bottom: 0rem;
}

.proj-name {
  font-size: 3vw;
  line-height: 3vw;
  width: 30%;
  position: fixed;
  font-family: "Degular-Display", sans-serif;
  top: 6rem;
  left: 2rem;
}

.proj-sectitle {
  display: block;
  font-family: "Degular-Display", sans-serif;
  font-size: 3vw;
  line-height: 3vw;
  color: white;
  width: 30%;
  font-weight: 500;
}

.proj-type {
  position: absolute;
  padding: .25rem .5rem;
  bottom: .5rem;
  right: .5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  padding: .25rem 0 .3rem;
  border-bottom: 1px solid black;
}

.header-mobile, .navfoot-contain-mobile {
  display: none;
}

.about-hero {
  height: 30vh;
  background-color: black;
  width: auto;
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-main {
  border-bottom: 1px solid black;
  background-color: white;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  visibility: visible;
}

.about-text-contain {
  font-size: 3vw;
  font-family: "Degular-Display", sans-serif;
  position: fixed;
  top: 6rem;
  left: 2rem;
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.about-tagline {
  font-size: 3vw;
  line-height: 3vw;
  width: 30vw;
  font-weight: 700;
}

.abt-sectitle {
  display: block;
  font-family: "Degular-Display", sans-serif;
  font-size: 3vw;
  line-height: 3vw;
  color: white;
  width: 60%;
  font-weight: 500;
}

.about-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.01rem;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.abt-illus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: block;
  height: 60vh;
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-bottom: 2rem;
}

.about p {
  margin-top: 1rem;
}

.sub-main {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid black;
  background-color: white;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  visibility: visible;
}

.sub-proj-info {
  position: fixed;
  left: 2rem;
  top: 6rem;
  -webkit-transition: none;
  transition: none;
}

.sub-proj-info {
  position: fixed;
  top: 7rem;
  left: 2rem;
  width: 30%;
}

.sub-proj-type {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}

.sub-proj-name, .sub-proj-steptitle {
  font-size: 3vw;
  line-height: 3vw;
  font-family: "Degular-Display", sans-serif;
}

.sub-proj-name {
  margin-bottom: .25rem;
}

.sub-proj-deets {
  font-weight: 300;
}

.image, .sub-proj-hero-img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sub-proj-hero-img {
  margin-top: -2rem;
}

.sub-proj-steptitle {
  font-weight: 500;
  margin: 0.2rem 0 .55rem;
  display: block;
}

.sub-proj-desc {
  margin: 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid black;
}

.sub-proj-desc p {
  margin-top: 0rem;
}

.work-process {
  position: relative;
  border-bottom: 1px solid black;
  height: auto;
  -webkit-transition: 2s;
  transition: 2s;
}

.process-contain {
  height: auto;
  display: none;
  margin-top: 2rem;
}

.process-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process-panel::before {
  content: "✧";
  text-align: center;
  width: 100%;
  display: block;
}

.process-panel:last-of-type::before {
  display: none;
}

.panel-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 34.5%;
          flex: 1 0 34.5%;
  width: 100%;
}

.panel-text p {
  margin-bottom: .5rem;
}

.sub-proj-procstep {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: .75rem;
}

.panel-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 60%;
          flex: 2 0 60%;
  display: block;
  width: 100%;
}

.process-panel:nth-child(even) .panel-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.process-panel:nth-child(odd) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.process-panel:nth-child(even)::before {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.accordion {
  border: none;
  text-align: left;
  outline: none;
  padding-top: .05rem;
  background-color: white;
  color: black;
  opacity: .3;
  cursor: pointer;
  width: 100%;
}

.accordion::after {
  position: absolute;
  right: 0;
  font-size: calc(3vw / 1.5);
  content: '↓';
}

.accordion:hover {
  opacity: .5;
  /* Start the shake animation and make the animation last for 0.5 seconds */
}

.active {
  border-bottom: none;
  opacity: 1;
}

.active::after, .process-collapse::after {
  content: '↑';
}

.panel {
  background: none;
}

.process-contain a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.process-collapse {
  display: inline-block;
  width: auto;
  border-top: 1px solid black;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.work-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, 60vh);
  gap: 1rem;
  margin-top: .9rem;
}

.imagecard {
  width: 100%;
  height: 100%;
  position: relative;
}

.imagecard1a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard1b {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard1c {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.imagecard1d {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.imagecard1e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.imagecard2a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard2b {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard2c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard2d {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard2e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard2f {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.imagecard2g {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard2h {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard3a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard3b {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard3c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard3d {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.imagecard3e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard5a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard5b {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard5c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard5d {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard5e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard6gif {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard6label {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard6boen {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.imagecard6graffiti {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard6spaceman {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard6ncsncf {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.imagecard6lucid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard6lucid2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.imagecard6doodlered {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.imagecard6metaltype {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.imagecard8a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard8b {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  height: 50%;
}

.imagecard8c {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-color: white;
}

.imagecard8d {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.imagecard8e {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  height: 50%;
  width: auto;
}

.imagecard8f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.imagecard8g {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  height: 50%;
  margin-top: auto;
}

@media (max-width: 850px) {
  * {
    font-size: 22px;
  }
  .container {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
  }
  main {
    margin: 0 0 2rem 0;
  }
  .hero {
    margin-left: -1rem;
    margin-top: .75rem;
    margin-right: -1rem;
    position: relative;
  }
  .text-contain {
    margin: 0 1rem 1rem 1rem;
    position: static;
    font-size: 9vw;
  }
  .tagline {
    font-size: 9vw;
    color: white;
    line-height: 9vw;
    width: 100%;
  }
  .hero-sectitle {
    position: absolute;
    top: calc(55vh - 5vw);
  }
  .proj-sectitle {
    font-size: 9vw;
    line-height: 9vw;
    color: black;
  }
  .nice {
    color: white;
  }
  .sidebar {
    display: none;
  }
  .name, .job {
    font-size: .75rem;
    line-height: .5rem;
  }
  .star {
    margin: 0 .5rem;
  }
  .header-mobile {
    display: block;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.164);
    position: fixed;
    width: 100vw;
    z-index: 90;
    text-align: center;
  }
  .header-mobile .title {
    padding: 0.75rem 1rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-mobile .name,
  .header-mobile .job {
    display: inline-block;
  }
  .header-mobile .star {
    line-height: .5rem;
  }
  .navfoot-contain-mobile {
    display: block;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.164);
    width: 100%;
    position: fixed;
    z-index: 90;
    bottom: 0;
    left: 0;
  }
  .nav {
    margin-bottom: 0;
  }
  .nav-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .nav-item a {
    padding: .5rem;
    border: none;
    font-size: .75rem;
  }
  #work {
    height: 4rem;
  }
  .footer {
    display: none;
  }
  .proj-img {
    height: 55vh;
  }
  .proj-img[src~="images/8/dinnerparty_splash.png"] {
    -o-object-position: left center;
       object-position: left center;
  }
  .proj-name {
    position: absolute;
    font-size: 9vw;
    line-height: 9vw;
    width: 90%;
    top: 1rem;
    left: 1rem;
  }
  .proj-type {
    font-size: .75rem;
  }
  .about-hero {
    margin-left: -1rem;
    margin-top: .75rem;
    margin-right: -1rem;
    position: relative;
  }
  .about-hero .hero-sectitle {
    position: absolute;
    top: calc(31.5vh - 5vw);
  }
  .about-contain {
    margin-top: 10vh;
  }
  .about-text-contain {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    top: 40vh;
    left: 1rem;
    font-size: 9vw;
    padding-left: 1rem;
    position: static;
    margin-bottom: 1rem;
    width: 89vw;
  }
  .about-tagline {
    font-size: 9vw;
    line-height: 9vw;
    color: white;
    width: 100%;
  }
  .abt-sectitle {
    font-size: 9vw;
    line-height: 9vw;
    width: 100%;
    color: black;
  }
  .about {
    margin-top: 10vh;
  }
  .sub-proj-info {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid black;
    margin-bottom: 1rem;
  }
  .sub-proj-name, .sub-proj-steptitle {
    font-size: 2rem;
    line-height: 2rem;
  }
  .accordion::after {
    font-size: calc(2rem / 1.5);
  }
  .sub-proj-hero-img {
    margin-top: 0;
  }
  .process-panel .imagecard {
    height: auto;
    margin-bottom: 0;
  }
  .panel-image {
    max-width: inherit;
    margin-bottom: 0;
  }
  .panel-text {
    margin-bottom: 1rem;
  }
  .work-body {
    display: block;
  }
  .imagecard {
    height: 60vh;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */