* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.name {
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

.lastname {
  display: block;
}

.name, .lastname {
  font-size: 1.5rem;
}

.job {
  font-size: 1.35rem;
}

.container {
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  padding: 2rem;
  position: fixed;
  max-width: 16.5%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  margin-top: 35vh;
}

.nav-item a {
  display: inline-block;
  margin-bottom: 1.25rem;
}

.nav-item a:hover {
  text-decoration: underline;
  font-weight: 900;
}

.email a {
  font-weight: 900;
}

.main {
  display: -ms-grid;
  display: grid;
  grid: repeat(6, 1fr)/repeat(12, 1fr);
  z-index: 99;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 2rem 2rem 2rem 0rem;
}

.proj-name a {
  font-size: 10vh;
  font-weight: 700;
}

.proj-name a:hover {
  text-decoration: underline;
  font-weight: 900;
}

.slide {
  background-image: url(https://via.placeholder.com/500);
  background-position: center center;
  background-size: cover;
  height: 80vh;
  width: auto;
  position: relative;
}

.proj-name {
  position: absolute;
  top: 1vh;
  left: -5vw;
}

.proj-desc {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  width: 20vw;
  background-color: white;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
}

.proj-desc:hover {
  text-decoration: underline;
  font-weight: 900;
}

.proj-date::after {
  content: " >>";
}

.slide1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
}

.slide2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.slide3 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.slide4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.slide5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.slide6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.about-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 2rem;
  max-width: 70%;
}

.callmesam {
  font-size: 10vh;
  margin-bottom: 10vh;
}

.about-desc p {
  font-size: 1.35rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 1300px) {
  .proj-desc {
    width: 25vw;
  }
}

@media (max-width: 1100px) {
  .slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
  }
}

@media (max-width: 1000px) {
  .proj-desc {
    width: 30vw;
  }
}

@media (max-width: 970px) {
  .callmesam {
    font-size: 8vw;
  }
}

@media (max-width: 800px) {
  .container {
    display: block;
  }
  .main {
    margin: 0 2rem 40vh 2rem;
  }
  .sidebar {
    position: static;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nav {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    padding: 5vw 5vw;
    background-color: #fff;
    border-top: 1px solid #000;
  }
  .footer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    position: fixed;
    bottom: 20vh;
    width: 100%;
    left: 0;
    z-index: -1;
    text-align: center;
  }
  .email a {
    display: inline-block;
    padding: 5vw;
  }
  .name {
    display: block;
  }
  .name, .lastname, .job {
    font-size: 6vw;
    margin: 0;
  }
  .lastname {
    display: inline-block;
    margin-left: 3vw;
  }
  .nav-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 99;
  }
  .nav-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .nav-item a {
    margin-bottom: 0;
    width: 100%;
  }
  .slide {
    height: 70vh;
  }
  .slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .proj-name a {
    font-size: 10vw;
  }
  .proj-desc {
    width: 50vw;
  }
  .proj-desc span {
    font-size: 3.8vw;
  }
  .about-main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 2rem 2rem 40vh 2rem;
    max-width: 100%;
    background-color: #fff;
  }
  .callmesam {
    font-size: 12vw;
  }
}
/*# sourceMappingURL=style.css.map */