.sub-main {
  display: -ms-grid;
  display: grid;
  grid: repeat(8, 1fr)/repeat(12, 1fr);
  z-index: 99;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 2rem 2rem 2rem 0rem;
}

.sub-slide {
  background-image: url(https://via.placeholder.com/500);
  background-position: center center;
  background-size: cover;
  height: 80vh;
  width: auto;
  position: relative;
}

.sub-proj-name1, .sub-proj-name2, .sub-proj-name3 {
  position: absolute;
  top: 1vh;
  left: -5vw;
  font-size: 10vh;
  font-weight: 300;
}

.sub-desc1a {
  position: absolute;
  top: 15vh;
  left: -12.8vw;
  width: 60%;
  opacity: 0;
}

.sub-slide1a {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
}

.sub-slide1b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.sub-slide1c {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.sub-slide1d {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.sub-slide1e {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.sub-slide1f {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.sub-slide1g {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 /8;
}

.sub-slide1h {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

.sub-desc2a {
  position: absolute;
  top: 15vh;
  left: 27.5vw;
  width: 60%;
  opacity: 0;
}

.sub-slide2a {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
}

.sub-slide2b {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.sub-slide2c {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.sub-slide2d {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.sub-slide2e {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.sub-slide2f {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.sub-slide2g {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.sub-slide2h {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

.sub-desc3a {
  position: absolute;
  top: 15vh;
  left: -6.3vw;
  width: 60%;
  opacity: 0;
}

.sub-slide3a {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

.sub-slide3b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.sub-slide3c {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.sub-slide3d {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.sub-slide3e {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.sub-slide3f {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.sub-slide3g {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.sub-slide3h {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}
/*# sourceMappingURL=sub-style.css.map */