nav.header
                a(href="/index.html")
                    img(class="initials" src="../images/smm.svg", alt="SMM")
                .name
                    p.sam samanta 
                        span.moyame moya medina
                    p.job graphic 
                        span.jobcont designer
                nav.navbar
                    ul.nav-items
                        li.nav-item 
                            a(href="/index.html") work
                        li.nav-item 
                            a(href="#") resume
                        li.nav-item 
                            a(href="/about.html") about
                        li.nav-item 
                            a(href="mailto:hi@smoya.me") contact
