header
                .name
                    p.sam samanta 
                        span moya medina
                    p.title designer & illustrator
                nav.navbar
                    ul
                        li portfolio
                        li resume
                        li about sam
                        li contact