nav.header
                a(href="/index.html").initials SMM
                .name
                    p.sam samanta 
                        span.moyame moya medina
                    p.job designer 
                        span.jobcont & illustrator
                nav.navbar
                    ul.nav-items
                        li.nav-item 
                            a(href="#") work
                        li.nav-item 
                            a(href="#") resume
                        li.nav-item 
                            a(href="#") about
                        li.nav-item 
                            a(href="#") contact
