mixin header(workLink, aboutLink)

    header.header
        h1.name samanta
            span.lastname moya medina
        span.job graphic designer
    nav.nav
        ul.nav-contain(onmouseover="cursorColorChange('#003f69')" onmouseout="cursorColorChange('#ee3d37')")
            li.nav-item
                a(href=workLink) work
            li.nav-item
                a(href=aboutLink) about
            li.nav-item
                a(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") linkedin
        