mixin header(homeLink, workLink, aboutLink)
    header.header
        h1
            a.name(href=homeLink) samanta moya medina
        nav.nav
            ul.nav-contain
                li
                    a.nav-item(href=workLink) WORK
                li
                    a.nav-item(href=aboutLink) ABOUT
                li
                    a.nav-item(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") LINKEDIN