header.header
    h1.name samanta
        span.lastname moya medina
    span.job i'm a graphic designer
nav.nav
    ul.nav-contain
        li.nav-item
            a(href="#") work
        li.nav-item
            a(href="#") about
        li.nav-item
            a(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") linkedin
footer.footer
    p.email 
        a(href="mailto:hi@smoya.me") hi@smoya.me
        p talk to you soon!