mixin header(homeLink, workLink, aboutLink)
    header.header
        h1
            a.name(href=homeLink) sam
                span.lastname mm
        nav.nav
            ul.nav-contain
                li
                    a.nav-item(href=workLink) work
                li
                    a.nav-item(href=aboutLink) about
                li
                    a.nav-item(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") linkedin