header.header
    h1.name samanta
        span.lastname moya medina
    span.job graphic designer
nav.nav
    ul.nav-contain
        li.nav-item
            a(href="index.html") work
        li.nav-item
            a(href="about.html") about
        li.nav-item
            a(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") linkedin
footer.footer
    p.email 
        a(href="mailto:hi@smoya.me") hi@smoya.me
        