mixin mobile-sidebar(homeLink, workLink, aboutLink)
    header.header-mobile
            a.title(href=homeLink)
                h1.name Samanta Moya Medina
                .star ✧
                span.job Graphic Designer
    .navfoot-contain-mobile
        nav.nav
            ul.nav-contain
                li.nav-item
                    a(href=workLink) Work
                li.nav-item
                    a(href=aboutLink) About
                li.nav-item
                    a(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") Linkedin
                li.nav-item(class="nav-item-email")
                    a(href="mailto:hi@smoya.me") Contact