mixin sidebar(workLink, aboutLink)
    .sidebar
        header.header
            a.title(href="/index.html")
                h1.name Samanta Moya Medina
                span.job Graphic Designer
            
        .navfoot-contain
            nav.nav
                ul.nav-contain
                    li.nav-item
                        a(href=workLink) Work
                    li.nav-item
                        a(href=aboutLink) About
                    li.nav-item
                        a(href="https://www.linkedin.com/in/smoyamedina/" target="_blank") Linkedin
                    li.nav-item
                        a(href="mailto:hi@smoya.me") hi@smoya.me
            footer.footer
                p.credit Made with love &#169; 2020-2021