html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Median
        //- linked files
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap")
        link(rel="stylesheet", href="style.css")

    body
        .container
            include mixins/_header.pug
            .about-container
                h2.callmesam Feel free to call me Sam!
                .about-body
                    p My name is Samanta Moya Medina. I am a Graphic Design B.F.A candidate at the Maryland Institute College of Art and I also hold an Associate of Applied Science in Graphic Design from Montgomery College, Rockville. 
                    p My focus in Graphic Design lies primarily in print publications and web design. I maintain an interest in devoting a bulk of my skills to helping the psycology of the user parse the materials I design in an easy and friendly fashion.
                    p My roots are in the experiences I had as a partial caregiver to my sisters who live with Down's Syndrome and RETT Syndrome, regular translator for my parents, and holder of responsibility for my three younger sisters. I volunteer here and there when I'm not helping my family.
                    p I am a COVID survivor and advocate for those who are trying to speak up for themselves.

            include mixins/_footer.pug