<!DOCTYPE html>
include mixins/_joblisting.pug

html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Median
        //- linked files
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600;700&family=Inconsolata:wght@300;400;600;700;800;900&display=swap")
        link(rel="stylesheet", href="style.css")

        
    body
        .container
            include mixins/_header.pug
            .resume-content
                h2.myexperience Here's some of my experience.
                section.education
                    h3.sectiontitle Education
                    +joblisting('Maryland Institute College of Art (MICA)', '2019\-Present', 'Bachelor of Fine Arts in Graphic Design Candidate', 'Expected Graduation in May 2021')
                    +joblisting('Montgomery College, Rockville (MCRV)', '2015-2018', 'Associate of Applied Science in Graphic Design', 'Graduate with Honors')
                    +joblisting('Study Abroad Intensive // Japan', 'Scholarship Recipient', 'Two weeks traveling and receiving educational tours and lectures  in Japanese art, history, and culture. Insight into a Japanese university\'s design program.')
                section.relevant
                    h3.sectiontitle Relevant Experience
                    +joblisting('Graphic Design Intern', 'Sep 2019-March 2020', 'Calvert School', '* Developing and designing various collateral including event materials, web banners, social media imagery, photography, and videography. Providing workflow support to Multimedia Specialist.')
                    +joblisting('Editor-In-Chief of Spectrum Magazine', '2016-2017', 'Student Art League', '* Managed design, photography, article  submission, and art curation of a 24-page semi-annual publication. Supervised 3 volunteer designers.')
                section.workexp
                    h3.sectiontitle Work Experience
                    +joblisting('Peer Career Advisor', 'Present', 'Joseph Meyerhoff Center for Career Development', '* Engage students and provide 1-on-1 career counseling sessions. Assisted with design projects and major events. Represent the Career Development office as a Student Ambassador.')
                    +joblisting('Office Assistant', 'Feb 2019-Present', 'Joseph Meyerhoff Center for Career Development', '* Redesigned 10+ informational packets and one booklet to match updated institution branding guidelines. Researched Copyright law to compliment information from guest speaker to create a new resource packet for students. Collaborated with supervisors to re-write and update all copy. Daily data entry, clerical support, and phone calls.')
                    +joblisting('Student Office Aide', 'Jul 2017-Feb 2018', 'Fine Arts Department at MCRV', '* Prepared materials, labelling, and mailers for 100+ students under the department majors. Daily clerical support and office maintenence.')
                section.volunteer
                    h3.sectiontitle Volunteered Work
                    ul
                        li Career Development Hiring Committee
                        li Dean Forum Student Representative
                        li Media & Technologies Graphic Design Representative
                        li Student Art League Stand-In VP
                section.accolades
                    h3.sectiontitle Recognition
                    ul
                        li Phi Theta Kappa Honor Society
                        li Dean's List (MICA & MCRV)
                        li MICA Graphic Design Scholarship
                        li MICA Transfer Scholarship
                        li Certificate of Academic Excellence in Graphic Design
                        li George & Ruth Tretter Endowed Scholarship
                        
                            
            include mixins/_footer.pug
