<!DOCTYPE html>
include ../mixins/_header.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap")
        link(rel="stylesheet", href="../style.css")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="../sub-style.css")

        title Graphic Designer | Samanta Moya Medina
    body
        .container
            .sidebar
                +header('../index.html', '../about.html')

            main(class="sub-main transition-fade" id="swup")
                
                div(class="sub-slide sub-slide1a")
                    //- div.proj1filter
                    h2.sub-proj-name1 the dry run
                    p.sub-desc1a this is the main description for this project upon going to the main project page for it from the homepage and other stuff
                div(class="sub-slide sub-slide1b") 
                div(class="sub-slide sub-slide1c")
                div(class="sub-slide sub-slide1d")
                    p.sub-desc1b thisprojectalso for so and so and so and so lorem ipsum dolor est something crazy foz and stuff
                div(class="sub-slide sub-slide1e")
                div(class="sub-slide sub-slide1f")
                div(class="sub-slide sub-slide1g")
                div(class="sub-slide sub-slide1h")

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        
        script(src="../script.js")
        script(src="../transition.js")
