include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main(id="swup" class="transition-fade")
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Publication
                        h2.sub-proj-name The Dry Run
                        h3.sub-proj-deets 11" x 22" Broadsheet 
                    img.sub-proj-hero-img(src="../images/1/thedryrun1.png")
                    .sub-proj-desc
                        p I was challenged to create a newspaper based on the content of a story I hold dear to me. The Dry Run is an experimental broadsheet publication that is inspired by Daniel Keyes' Flowers for Algernon. This 3-page dry run explores Charlie's experiences in the form of complex typographical hierarchy.
            
                .work-body
                    figure.imagecard1a(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/typesystem-01-01-01.png")
                    figure.imagecard1b(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun3.png")
                    figure.imagecard1c(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun5.png")
                    figure.imagecard1d(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun4.png")
                    figure.imagecard1e(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/closeup.png")
    
                script(src="../medium-lightbox.js")
                include ../mixins/_scripts.pug