<!DOCTYPE html>
include ../mixins/pug/_header.pug
include ../mixins/pug/_slide.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
    body.container
        .sidebar
                +header('../index.html', '../about.html')

        main(class="sub-main transition-fade" id="swup")
            //- div.overlay(class="transition-wipe")
            div(class="sub-slide sub-slide2a")
                h2.sub-proj-name2 olympics 2040
                p.sub-desc2a This project brands the 2040 olympics set in Buenos Aires, Argentina. Through visual callbacks to the Argentinian tradition of Fileteado Porteño and modular indigenous patterns, an emphasis is placed on unity and peace that the Olympics tries to achieve through global sportsmanship. 
            div(class="sub-slide sub-slide2b")
                //- p.sub-desc2b this project was for so and so and soandso lorem lorem ipsum something more more dog 
            div(class="sub-slide sub-slide2c")
            div(class="sub-slide sub-slide2d")
                //- p.sub-desc2c thisprojectalso for as so and so and so and so lorem ipsum dolor est something crazy foz and stuff
            div(class="sub-slide sub-slide2e")
            div(class="sub-slide sub-slide2f")
            div(class="sub-slide sub-slide2g")
            div(class="sub-slide sub-slide2h")
        .credit
            p This website was made by me using HTML/CSS/JS and the Swup and GSAP libraries.
        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        
        script(src="../script.js")