include ../mixins/_slide.pug
include ../mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        div#main
            +header('/', "/../#works", "/about.html")
            .content(class="transition-fade" id="swup")
                section.sub-hero(class="sub-hero2")
                    .sub-proj-desc(class="sub-proj-desc2")
                        h3.sub-proj-type Branding
                        h2.sub-proj-name Olympics 2040
                        p.sub-proj-para This project brands the 2040 olympics set in Buenos Aires, Argentina. Visual callbacks to the Argentinian tradition of Fileteado Porteño and modular indigenous patterns place an emphasis on unity and peace that the Olympics tries to achieve through global sportsmanship.
                        date.sub-proj-date 
                            //- a(href="../index.html#works") ← Back to Home
                section.sub-images
                    a.image1(href="../images/2/id-holder-mockup.png")
                        img(src="../images/2/id-holder-mockup.png", alt="sdf", srcset="")
                    a.image2(href="../images/2/iphone-ticket.png")
                        img(src="../images/2/iphone-ticket.png", alt="sdf", srcset="")
                    a.image3(href="../images/2/pictrograms-01.png")
                        img(src="../images/2/pictrograms-01.png", alt="sdf", srcset="")
                    a.image4(href="../images/2/iphone-ticket2.png")
                        img(src="../images/2/iphone-ticket2.png", alt="sdf", srcset="")
                    a.image5(href="../images/2/logos.png")
                        img(src="../images/2/logos.png", alt="sdf", srcset="")
                


            footer.footer
                span.email smoyamedina@mica.edu

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        