include ../mixins/_slide.pug
include ../mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        div#main
            +header('/', "/../#works", "/about.html")
            .content(class="transition-fade" id="swup")
                section.sub-hero(class="sub-hero3")
                    .sub-proj-desc(class="sub-proj-desc3")
                        
                        h3.sub-proj-type Publication
                        h2.sub-proj-name Amass Mag
                        p.sub-proj-para AMASS magazine is a loud, 14-page publication made to capture the voices of those less heard and immortalize the infamous that wring them dry. It's focused on the divide between actions and consequences when they affect the average American instead of a fellow corporate partner.
                        date.sub-proj-date 
                            //- a(href="../index.html#works") ← Back to Home
                section.sub-images
                    a.image1(href="../images/3/amass03.png")
                        img(src="../images/3/amass03.png", alt="sdf", srcset="")
                    a.image2(href="../images/3/amass04.png")
                        img(src="../images/3/amass04.png", alt="sdf", srcset="")
                    a.image3(href="../images/3/amass05.png")
                        img(src="../images/3/amass05.png", alt="sdf", srcset="")
                    a.image4(href="../images/3/amass06.png")
                        img(src="../images/3/amass06.png", alt="sdf", srcset="")
                    a.image5(href="../images/3/amass07.png")
                        img(src="../images/3/amass07.png", alt="sdf", srcset="")
                


            footer.footer
                span.email smoyamedina@mica.edu

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        