include ../mixins/_header.pug
include ../mixins/_projectcard.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina | Graphic Designer
        include ../mixins/_stylesheets.pug
        
    body
        +header('/index.html', "/index.html", "/about.html")
        main.main(id="swup" class="transition-fade")
            section.sub-hero
                .sub-hero-img
                    img(src="/images/3/amass01.png" alt="aaa")
                .sub-hero-bg-box1
                .sub-text-contain
                    span.sub-proj-type Publication
                    h2.sub-proj-name AMASS
                    p.sub-proj-para I was challenged to create a print publication and execute branding choices that would hold the publication's brand together. AMASS magazine is a loud, 14-page publication made to capture the voices of those less heard and immortalize the infamous that wring them dry. It's focused on the divide between actions and consequences when they affect the average American instead of a fellow corporate partner.
                    span.sub-proj-type-underline Publication

            section.sub-project
                .sub-bgblock3a
                .sub-bgblock3b
                .sub-bgblock3c
                figure.imagecard3a(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass03.png")
                figure.imagecard3b(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images//3/amass05.png")
                figure.imagecard3c(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images//3/amass06.png")
                figure.imagecard3d(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass07.png")
                figure.imagecard3e(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass08.png")
            section.bottomhero
                .text-contain-bottom 
                    a(href="/4.html").bottomhero-text Next project →  
                    a(href="/2.html").bottomhero-text ← Previous project
                    a(href="/about.html").bottomhero-text Learn more about me
        include ../mixins/_footer.pug

        include ../mixins/_scripts.pug
