include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Publication
                        h2.sub-proj-name Amass Magazine
                        h3.sub-proj-deets 9" x 12", 14 page publication concept 
                    img.sub-proj-hero-img(src="../images/3/amass01.png")
                    .sub-proj-desc
                        p I was challenged to create a print publication and execute branding choices that would hold the publication's brand together. AMASS magazine is a loud, 14-page publication made to capture the voices of those less heard and immortalize the infamous that wring them dry. It's focused on the divide between actions and consequences when they affect the average American instead of a fellow corporate partner.
            
                .work-body
                    figure.imagecard3a(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass03.png")
                    figure.imagecard3b(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images//3/amass05.png")
                    figure.imagecard3c(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images//3/amass06.png")
                    figure.imagecard3d(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass07.png")
                    figure.imagecard3e(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/3/amass08.png")
    
        script(src="../medium-lightbox.js")
        include mixins/_scripts.pug