include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="icon" type="image/png" href="/images/favicon.png")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work', '../about')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Publication
                        h2.sub-proj-name The Dry Run
                        h3.sub-proj-deets 11" x 22" Broadsheet 
                    img.sub-proj-hero-img(src="../images/1/thedryrun1.png")
                    .sub-proj-desc
                        p I was challenged to create a newspaper based on the content of a story I hold dear to me. The Dry Run is an experimental broadsheet publication that is inspired by Daniel Keyes' Flowers for Algernon. This 3-page dry run explores Charlie's experiences in the form of complex typographical hierarchy.
            
                .work-body
                    figure.imagecard4a(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/4/envelope-2-copy.png")
                    figure.imagecard4b(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/4/inside.png")
                    figure.imagecard4c(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/4/envelope-3-copy.png")
                    figure.imagecard4d(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/4/envelope-4-copy.png")
                    figure.imagecard4e(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/4/outside.png")
    
    script(src="../medium-lightbox.js")
    include ../mixins/_scripts.pug