include ../mixins/_slide.pug
include ../mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        div#main
            +header('/', "/../#works", "/about.html")
            .content(class="transition-fade" id="swup")
                section.sub-hero(class="sub-hero4")
                    .sub-proj-desc(class="sub-proj-desc4")
                        h3.sub-proj-type Personal
                        h2.sub-proj-name Your Mail
                        p.sub-proj-para This project is an attempt to try to visually imply the hierarchy of steps to take in order to fold the paper into an envelope you could use to mail something to someone. The envelope itself turns into a memory of the journey traveled and the time that passed.
                        //- date.sub-proj-date 04.2020
                section.sub-images
                    a.image1(href="../images/4/envelope-2-copy.png")
                        img(src="../images/4/envelope-2-copy.png", alt="sdf", srcset="")
                    a.image2(href="../images/4/envelope-3-copy.png")
                        img(src="../images/4/envelope-3-copy.png", alt="sdf", srcset="")
                    a.image3(href="../images/4/envelope-4-copy.png")
                        img(src="../images/4/envelope-4-copy.png", alt="sdf", srcset="")
                    a.image4(href="../images/4/inside.png")
                        img(src="../images/4/inside.png", alt="sdf", srcset="")
                    a.image5(href="../images/4/outside.png")
                        img(src="../images/4/outside.png", alt="sdf", srcset="")
                


            footer.footer
                span.email 
                    a(href="mailto:hi@smoya.me") hi@smoya.me
                span.credit made with love

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        