include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug
include ../mixins/_process-panel.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="icon" type="image/png" href="/images/favicon.png")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work', '../about')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Publication
                        h2.sub-proj-name Voter's Guide
                        h3.sub-proj-deets 8.5" x 11", 50-page pamphlet 
                    img.sub-proj-hero-img(src="../images/5/votersguide01.png")
                    h4.sub-proj-steptitle Origin
                    .sub-proj-desc
                        p The challenge was to compile information about voter rights into a one-stop publication for the United States and Territories, with attention to how over whelming so much information might be. This voter's guide was made to encourage informed voter activism. The main focus of this one-stop-shop publication is to clearly and easily display much needed information the moment someone faces a page.
                h4.sub-proj-steptitle Final Outcome
                .work-body
                    figure.imagecard5a(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/5/votersguide03.png")
                    figure.imagecard5b(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/5/votersguide02.png")
                    figure.imagecard5c(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/5/votersguide04.png")
                    figure.imagecard5d(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/5/votersguide07.png")
                    figure.imagecard5e(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/5/votersguide06.png")
    
        script(src="../medium-lightbox.js")
        include ../mixins/_scripts.pug