include ../mixins/_slide.pug
include ../mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        div#main
            +header('/', "/../#work", "/about.html")
            .content(class="transition-fade" id="swup")
                section.sub-hero(class="sub-hero5")
                    .sub-proj-desc(class="sub-proj-desc5")
                        h3.sub-proj-type Publication
                        h2.sub-proj-name Voter's Guide
                        p.sub-proj-para The challenge was to compile information about voter rights into a one-stop publication for the United States and Territories, with attention to how over whelming so much information might be. This voter's guide was made to encourage informed voter activism. The main focus of this one-stop-shop publication is to clearly and easily display much needed information the moment someone faces a page.
                        //- date.sub-proj-date 08.2019
                section.sub-images
                    //- img.image1(src="../images/5/votersguide02.png", alt="", srcset="")
                    //- img.image2(src="../images/5/votersguide03.png", alt="", srcset="")
                    //- img.image3(src="../images/5/votersguide04.png", alt="", srcset="")
                    //- img.image4(src="../images/5/votersguide07.png", alt="", srcset="")
                    //- img.image5(src="../images/5/votersguide06.png", alt="", srcset="")
                    a.image1(href="../images/5/votersguide02.png")
                        img(src="../images/5/votersguide02.png", alt="sdf", srcset="")
                    a.image2(href="../images/5/votersguide03.png")
                        img(src="../images/5/votersguide03.png", alt="sdf", srcset="")
                    a.image3(href="../images/5/votersguide04.png")
                        img(src="../images/5/votersguide04.png", alt="sdf", srcset="")
                    a.image4(href="../images/5/votersguide07.png")
                        img(src="../images/5/votersguide07.png", alt="sdf", srcset="")
                    a.image5(href="../images/5/votersguide06.png")
                        img(src="../images/5/votersguide06.png", alt="sdf", srcset="")
                


            footer.footer
                span.email smoyamedina@mica.edu

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        