include ../mixins/_slide.pug
include ../mixins/_header.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        div#main
            +header('/', "/../#work", "/about.html")
            .content(class="transition-fade" id="swup")
                section.sub-hero(class="sub-hero6")
                    .sub-proj-desc(class="sub-proj-desc6")
                        h3.sub-proj-type Other Materials
                        h2.sub-proj-name Misc
                        p.sub-proj-para This page houses miscellaneous bits that I've completed as side projects or at a previous internship or work position. Among these are a beer Label created for a charity auction, a couple logos, and a motion design sample.
                        //- date.sub-proj-date 04.2020
                section.sub-images
                    img.image1(src="../images/6/calvert_hillyershops.jpg", alt="", srcset="")
                    img.image2(src="../images/6/misc.png", alt="", srcset="")
                    .image3b
                        iframe(class="poster" src="https://player.vimeo.com/video/467596200", width="100%" height="100%", frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
                    img.image4(src="../images/6/misc.png", alt="", srcset="")
                    .image5b
                        iframe(class="boen" src="https://player.vimeo.com/video/467599316", width="100%" height="100%", frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
                


            footer.footer
                span.email smoyamedina@mica.edu

        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
        script(src="../jquery.fluidbox.min.js")

        script(src="/script.js")
        