include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="icon" type="image/png" href="/images/favicon.png")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work', '../about')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Miscellaneous
                        h2.sub-proj-name Experiments
                        h3.sub-proj-deets Motion Graphics, Illustration, Risograph, Logos, and other extras.
                    img.sub-proj-hero-img(src="../images/6/misc.png")
                    .sub-proj-desc
                        //- p I was challenged to create a newspaper based on the content of a story I hold dear to me. The Dry Run is an experimental broadsheet publication that is inspired by Daniel Keyes' Flowers for Algernon. This 3-page dry run explores Charlie's experiences in the form of complex typographical hierarchy.
            
                .work-body
                    figure.imagecard6gif(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/hearme.gif")
                    figure.imagecard6label(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/calvert_hillyershops.jpg")
                    figure.imagecard6boen(class="imagecard zoom-effect" )
                        iframe(class="boen" src="https://player.vimeo.com/video/467599316", width="100%" height="100%", frameborder="0" allow="autoplay; fullscreen" allowfullscreen)
                    figure.imagecard6graffiti(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/graffiti_wall.png")
                    figure.imagecard6spaceman(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/spaceman.png")
                    figure.imagecard6ncsncf(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/NCSNCF_lockup.png")
                    figure.imagecard6lucid1(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/zine-2.jpg")
                    figure.imagecard6lucid2(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/zine.jpg")
                    figure.imagecard6doodlered(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/doodle1.png")
                    figure.imagecard6metaltype(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/6/typeillustration.png")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
    script(src="medium-lightbox.js")

    script(src="script.js")