include ../mixins/_projectcard.pug
include ../mixins/_sidebar.pug
include ../mixins/_mobile-sidebar.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina // Graphic Designer
        link(rel="icon" type="image/png" href="/images/favicon.png")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
        link(rel="stylesheet", href="style.css")
    body
        +mobile-sidebar('../', '../#work', '../about')
        .container
            +sidebar('../#work', '../about.html')
            main.sub-main
                //- section.hero
                //-     .text-contain
                //-         p.tagline The Dry Run
                .work-hero
                    .sub-proj-info
                        h3.sub-proj-type Thesis
                        h2.sub-proj-name The Stigma Against People who Live With Intellectual Disabilities
                        h3.sub-proj-deets Ongoing project until May 2021 
                    img.sub-proj-hero-img(src="../images/thesis/mindmap.gif")
                    .sub-proj-desc
                        p As recent as 70 years ago it was a common practice to institutionalize, involuntarily sterilize, or give up those who were born with conditions like Down’s Syndrome, RETT Syndrome, or severe autism. Some of these practices are still carried out at times. 
                        p During COVID-19 several things were made clear: there is severe lack in legislative protections, educational equity, and social understanding of what people who live with intellectual disabilities deserve. What they deserve is the same quality of life that any one else is afforded.
                        p It’s not just a matter of fixing their educational situation, getting new laws passed, or getting people to feel for those with these disabilities–it is a matter of making these individuals seen and normalized. It is a matter of removing the stigma that prevents the ease of progress for intellectual disability advocacy in the first place.
            
                .work-body
                    figure.imagecard1a(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/typesystem-01-01-01.png")
                    figure.imagecard1b(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun3.png")
                    figure.imagecard1c(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun5.png")
                    figure.imagecard1d(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 66%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun4.png")
                    figure.imagecard1e(class="imagecard zoom-effect" )
                        .aspectRatioPlaceholder
                            .aspect-ratio-fill(style="padding-bottom: 30%;")
                            img.image(class="img" data-width="1750" data-height="1150" src="/images/1/closeup.png")
    
        script(src="../medium-lightbox.js")
        include mixins/_scripts.pug