include ../mixins/_header.pug
include ../mixins/_projectcard.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Samanta Moya Medina | Graphic Designer
        include ../mixins/_stylesheets.pug
        
    body
        +header('/index.html', "/index.html", "/about.html")
        main.main  
            section.sub-hero
                .sub-hero-img
                    img(src="/images/1/thedryrun1.png" alt="aaa")
                .sub-hero-bg-box1
                .sub-text-contain
                    span.sub-proj-type Thesis
                    h2.sub-proj-name The Stigma Against the Intellectually Disabled
                    p.sub-proj-para My thesis project is on track to address the social stigma against people with intellectual disabilities, with an emphasis on the exposed underfunding of programs during COVID.
                    span.sub-proj-type-underline Thesis

            section.sub-project
                .sub-bgblock1a
                .sub-bgblock1b
                .sub-bgblock1c
                figure.imagecard1a(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun4.png")
                figure.imagecard1b(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun3.png")
                figure.imagecard1c(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/1/thedryrun5.png")
                figure.imagecard1d(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/1/typesystem-01-01-01.png")
                figure.imagecard1e(class="imagecard zoom-effect" )
                    .aspectRatioPlaceholder
                        .aspect-ratio-fill(style="padding-bottom: 66%;")
                        img.image(class="img" data-width="1750" data-height="1150" src="/images/1/closeup.png")
            section.bottomhero
                .text-contain-bottom 
                    a(href="/6.html").bottomhero-text ← Previous project
                    a(href="/about.html").bottomhero-text Learn more about me →
        include ../mixins/_footer.pug

        include ../mixins/_scripts.pug
