<!DOCTYPE html>
include ../mixins/pug/_header.pug
include ../mixins/pug/_slide.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Graphic Designer | Samanta Moya Medina
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap")
        link(rel="stylesheet", href="https://use.typekit.net/ojh4yrg.css")
    body.container
        .sidebar
                +header('../index.html', '../about.html')

        main(class="about-main transition-fade" id="swup")
            //- div.overlay(class="transition-wipe")
            h2.callmesam 
            .about-desc
                p I am a <b>Graphic Design B.F.A candidate</b> at the Maryland Institute College of Art and I also hold an <b>Associate of Applied Science in Graphic Design</b> from Montgomery College, Rockville. 
                p My focus in Graphic Design lies primarily in print publications and hobbyist front-end web development. I maintain an interest in devoting a bulk of my skills to helping the psycology of the user parse the materials I design in an easy and friendly fashion.
                p My thesis project is currently on track to address disparities in paraeducation, with an emphasis on the virtual divide during COVID distance teaching.
                p My roots are in the experiences I had as a partial caregiver to my sisters who live with Down's Syndrome and RETT Syndrome, regular translator for my parents, and holder of responsibility for my three younger sisters. I volunteer here and there when I'm not helping my family.
            
        script(src="https://unpkg.com/swup@latest/dist/swup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/TextPlugin.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js")
        
        script(src="../script.js")